.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
  align-items: center;

  .logo-container {
    height: 100%;
    width: 30%;
    padding: 25px;
  }

  .shopName-container {
    width: 30%
  }

  .nav-links-container {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}